:root{
    --shadow: rgba(0, 0, 0, 0.2);
    --secondSB-L: ;
    --secondSB-R: ;
    --secondSB-T: ;
    --secondSB-B: ;
}

.mainSideBar{
    width: 10%;
    height: 90vh;
    max-width: 50px;
    min-width: 40px;
    max-height: 700px;
    min-height: 365px;
    padding: .7%;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px var(--shadow);
    background-color: white;
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    gap: 5%;
}

.btn{
   flex-basis: 7%;
   padding: unset;
   border: none;
   background-color: transparent;
   text-align: center;
}
.btn *{
    font-size: xx-large;
    transition: color .5s, font-size .5s;
}
.btn:hover *{
    cursor: pointer;
    color: blue;
    font-size: 250%;
}

.secondSideBar{
    width: 60px;
    height: 60px;
    color: white;
    background-color: black;
    position: fixed;
    left: calc(var(--secondSB-R) * 1px);
}